files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/application-sm2.conf" :
    mode: "000644"
    owner: webapp
    group: webapp
    content: |
      /var/log/application-sm2.log
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/application-sm2.conf" :
      mode: "000644"
      owner: webapp
      group: webapp
      content: |
        /var/log/application-sm2.log